/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	display: grid;
	height: 100vh;
	line-height: 1;
	grid-template: 11.5rem 1fr / 18rem 1fr;
	font-family: sans-serif;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, .nav {
	font-weight: 600;
}

.project p,
.announcement p,
.project-name {
	color: rgb(105, 105, 105);
}

#sidebar {
	grid-area: 1 / 1 / 3 / 2;
	display: grid;
	grid-auto-rows: min-content;
	gap: 3rem;
	padding: 1.5rem;
	color: white;
	background-color: #308fd1;
}

#sidebar > div {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 1.5rem;
}

#sidebar img {
}

header {
	grid-area: 1 / 2 / 2 / 3;
	display: grid;
	grid-template: 1fr 1fr / 1fr min(40%, 40rem);
	align-items: center;
	padding: 0 3rem 0rem 2rem;
}

header > div {
	display: grid;
}

#search {
	grid-template-columns: auto 1fr;
	align-items: center;
}

#header-left {
	grid-auto-flow: column;
	justify-self: end;
}

#user {
	grid-template-columns: auto auto;
	justify-self: start;
}

#user img,
.trending-user img {
	grid-row: 1 / 3;
	align-self: center;
	justify-self: end;
}

#buttons {
	grid-auto-flow: column;
	justify-content: space-between;
}

main {
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
	padding: 2rem 2rem 1rem 1rem;
	background-color: #e2e7ef;
}

#projects {
	grid-row: 1 / 3;
}

.project,
#announcements .items,
#trending .items {
	background-color: white;
}

.items {
	display: grid;
}

#projects .items {
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

.announcement p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#announcements .items {
	gap: 1rem;
}

.separator {
	height: 1px;
	background-color: lightgray;
}

#trending .items {
	justify-content: center;
	gap: 1rem;
}

.trending-user {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	align-self: center;
}