/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	display: grid;
	height: 100vh;
	line-height: 1;
	grid-template: 10.5rem 1fr / 18rem 1fr;
	font-family: Roboto, sans-serif;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, .nav {
	font-weight: 600;
}

h2 {
	margin-bottom: 0.8rem;
}

h3, h4 {
	margin-bottom: 0.3rem;
}

a {
	text-decoration: none;
	color: black;
}

img {
	height: 24px;
	width: auto;
}

/* sidebar css */

#sidebar {
	grid-area: 1 / 1 / 3 / 2;
	display: grid;
	grid-auto-rows: min-content;
	gap: 3rem;
	padding: 1.5rem;
	font-weight: 600;
	color: white;
	background-color: #308fd1;
}

#sidebar li, 
#sidebar a {
	display: contents;
	color: white;
}

#sidebar > * {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 1.5rem;
}

#sidebar h1,
#sidebar img,
#sidebar span {
	align-self: center;
}

/* header css */

header {
	grid-area: 1 / 2 / 2 / 3;
	display: grid;
	grid-template: 1fr 1fr / 1fr min(40%, 40rem);
	align-items: center;
	padding: 0 3rem 0rem 2rem;
}

header > div {
	display: grid;
}

#search {
	grid-template-columns: auto 1fr;
	align-items: center;
}

#header-left {
	grid-auto-flow: column;
	justify-self: end;
}

#user {
	grid-template-columns: auto auto;
	justify-self: start;
}

#user .avatar,
.trending-user .avatar {
	grid-row: 1 / 3;
	align-self: center;
	justify-self: end;
}

#buttons {
	grid-auto-flow: column;
	justify-content: space-between;
}

/* main body css */

main {
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	gap: 1rem;
	padding: 2rem 2rem 4.5rem 1rem;
	background-color: #e2e7ef;
}

#projects, #announcements, #trending {
	display: grid;
	grid-template-rows: min-content auto;
}

#projects {
	grid-row: 1 / 3;
}

.items {
	display: grid;
}

#projects .items {
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 0.5fr;
	gap: 1.5rem;
}

.project,
#announcements .items,
#trending .items {
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.2rem 0.2rem rgb(190, 190, 190);
}

.project {
	display: grid;
	grid-template-rows: min-content;
	padding: 1.8rem 1.2rem;
	border-left: 0.5rem solid orange;
}

.project .links {
	align-self: end;
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
	align-content: center;
	gap: 2rem;
	margin: 0 0.6rem;
}

#announcements .items,
#trending .items {
	padding: 2rem;
	gap: 1rem;
}

.project p,
.announcement p,
.project-name {
	font-size: 0.95rem;
	color: rgb(105, 105, 105);
	overflow: hidden;
	text-overflow: ellipsis;
}

.project p,
.announcement p {
	display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.announcement p {
  -webkit-line-clamp: 3;
	font-size: 0.85rem;
}

.project-name {
	white-space: nowrap;
	font-size: 0.90rem;
}

.separator {
	height: 1px;
	background-color: lightgray;
}

.trending-user {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	align-self: center;
}